<!-- 


{% if author.inspire %}
<li>
   <a href="{{ author.inspire }}" ><i class="ai ai-inspire-square ai-fw"></i> 
    <span class="label"> iNSPIRE</span></a>
</li>
  {% endif %}

  {% if author.arXiv %}
  <li><a href="{{ author.arXiv }}"><i class="ai ai-arxiv-square ai-fw"></i> <span class="label"> arXiv</span></a></a></li>
  {% endif %}
  {% if author.googlescholar %}
   <li><a href="{{ author.googlescholar }}"><i class="ai ai-google-scholar-square ai-fw"></i> <span class="label"> Google Scholar</span></a></a></li>
  {% endif %}
  {% if author.semanticscholar %}
  <li><a href="{{ author.semanticscholar }}"><i class="ai ai-semantic-scholar-square ai-fw"></i> <span class="label"> Semantic Scholar</span></a></a></li>
  {% endif %}
  {% if author.reseacherid %}
  <li><a href="{{ author.reseacherid }}"><i class="ai ai-researcherid-square ai-fw"></i> <span class="label"> Researcher ID</span></a></a></li>
  {% endif %}
  {% if author.researchgate %}
  <li><a href="{{ author.researchgate }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="ai ai-researchgate-square ai-fw" aria-hidden="true"></i> <span class="label"> ResearchGate</span></a></a></li>
  {% endif %}
  {% if author.scopus %}
  <li><a href="{{ author.scopus }}"><i class="ai ai-scopus-square ai-fw"></i><span class="label"> <span class="label"> Scopus</span></a></span></a></a></li>
  {% endif %}
  {% if author.orcid %}
  <li><a href="{{ author.orcid }}"><i class="ai ai-orcid-square ai-fw"></i> <span class="label"> ORCID</span></a></a></li>
  {% endif %} --> 